numpy==1.24.3
torch==2.2.0
diffusers==0.17.0
transformers==4.38.0
accelerate==0.20.3
scipy==1.10.1
safetensors==0.3.1
xformers==0.0.20
# git+https://github.com/facebookresearch/segment-anything.git
streamlit==1.24.1
streamlit_image_coordinates==0.1.3
